<div class="row">
  <div class="small-12 columns">
    <h1>Détails du film</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render 'affiche' %>
    <hr>
    <%= link_to 'Back', :back, class: "button  tiny radius" %>
    <%= link_to 'Edit', edit_film_path(@film), class: "button secondary tiny radius" %>
  </div>
</div>
