<div class="row">
  <div class="small-8 columns">
    <table>
      <tbody>
      <tr>
        <td>Nom</td>
        <td><%= @t_film.name %></td>
      </tr>
      <tr>
        <td>Taille</td>
        <td><%= number_to_human_size @t_film.size %></td>
      </tr>
      <tr>
        <td>Torrent</td>
        <td><%= @t_film.torrent.name %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
