<div class="row">
  <div class="large-12 columns">
    <h1>Détails du contenu du torrent</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= render 'affiche' %>
    <hr>
    <%= link_to 'Back', :back, class: "button  tiny radius" %>
  </div>
</div>