<div class="row">
  <div class="small-12 columns">
    <h1>Modifier un torrent</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render 'form' %>
    <%= render 'affiche' %>
    <hr>
    <%= link_to 'Back', :back, class: "button  tiny radius" %>
    <%= link_to 'Show', @torrent, class: "button secondary tiny radius" %>
  </div>
</div>
