<div class="row">
  <div class="large-6 columns">
    <h1>Détails du torrent</h1>
    <%= render 'affiche' %>
  </div>
  <div class="large-6 columns">
    <h1>Contenu du torrent</h1>
    <%= render 'affiche_t_films' %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <hr>
    <%= link_to 'Back', :back, class: "button  tiny radius" %>
    <%= link_to 'Edit', edit_torrent_path(@torrent), class: "button secondary tiny radius" %>
  </div>
</div>
