<div class="row collapse">
  <div class="progress small-12 success radius no_display" id="bar">
    <span class="meter" id="meter_val" style="width: 0%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span id="spinner" class="no_display"><%= image_tag('loader.gif') %></span>
  </div>
</div>
